.checkoutproduct{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    width: 100%;
    height: 70%;
}

.checkoutproduct img{
    width: 50%;
  
}

.para{
    font-size: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text button{
    margin-top: 5%;
    padding: 0.5%;
    background-color: rgb(172, 172, 97);
    width : 50%;
    margin-left: 2%;
}

.desc{
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.price{
    margin-left: 3%;
}